
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}
nav ul{
    display: flex;
    list-style: none;
    margin-right: 30px;
    align-items: center;
}
nav li a{
    margin-right: 50px;
    text-decoration: none;
    font-size: 20px;
}
.btn{
   background-color:#FD6E0A;
   color: white;
   font-weight: bold;
   padding: 18px 35px;
   border: none;
   border-radius: 5px;
   font-size: 20px;
}
.sec-bg{
    background-color: rgb(136, 177, 177);
}
.section-title{
    font-size: 35;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.section-des{
    text-align: center;
}
.nav-title{
        font-weight: 800;
        font-size: 45px;
        margin-left: 100px;
}
.nav-title span{
    color: #FD6E0A;
}
.dark{
    color: #474747;
}
.banner-content {
   max-width: 580px;
   align-items: center;
}
.banner-greet{
    font-size: 45px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    padding: 0;
}
.banner-face{
    font-weight: bold;
    font-size: 85px;
}
.banner-img{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0 200px;
}
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png) ;
    background-repeat: no-repeat;
    background-position:top left, bottom right;
}
.about{
    width: 830px;
    margin: auto;
    border-radius: 10px;
    padding: 130px 120px;
    margin-top: 130px;
    text-align: center;
}
.border{
    border: 1px solid black;
}
.main{
    max-width: 1140px;
}
.table{
   text-align: center;  
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-des{
    font-weight: bold;
}
.dash{
     width: 830px;
    margin: auto;
    border-radius: 10px;
    margin-top: 130px;
    text-align: center;
    padding: 30px;
}
.card-container{
    width: 1100px;
    display: flex;
    margin: auto;
}
.card{
    /* text-align: center; */
   margin-right: 20px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 6px 10px  black;
}
.resume{
    
}
.summary{
    text-align: center;
    padding-top: 50px;
}
.resume-box{
    display: flex;
    width: 1000px;
    margin: 0 auto;
}
.resume-column{
    margin-left: 40px;
    gap: 50px;
}
.experience{
    padding: 10px 40px;
}
.column-title{
    padding: 10px 40px;
}
.ctn{
    background-color:#FD6E0A;
   color: white;
   font-weight: bold;
   padding: 18px 35px;
   border: none;
   border-radius: 5px;
   font-size: 20px;
}
.button{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.experience-sub-title, .experience-des{
    color: #757575;
}
.footer{
    display: flex;
    background-color: rgb(136, 177, 177);
    padding: 130px 230px;
    gap: 100px;
}
.footer-title{
    width: 50%;
}
footer input[type="text"]{
    margin-bottom: 20px;
    height: 55px;
    width: 460px;
    border-radius: 5px;
    border: none;
    background-color: white;
    display: block;
    padding: 18px 30px;
    font-size: 20px;
}
footer input[type="email"]{
    margin-bottom: 20px;
    height: 55px;
    width: 460px;
    border-radius: 5px;
    border: none;
    background-color: white;
    display: block;
    padding: 18px 30px;
    font-size: 20px;
}
footer textarea{
    margin-bottom: 20px;
    width: 460px;
    border-radius: 5px;
    background-color: white;
    display: block;
    padding: 18px 30px;
    font-size: 20px;
}
footer input[type="submit"]{

}
.footer-data img{
    padding-top: 20px;
    justify-content: space-evenly;
}


